# Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.linear_model import Ridge,Lasso
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline

# Import the dataset

In [6]:
house_data = pd.read_csv("https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt")
house_data.head()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000

In [7]:
columns = house_data.columns.tolist()

In [8]:
columns.remove('Price')

In [9]:
feature_data = house_data[columns]
target_data = house_data.Price

In [10]:
X_train,X_test, y_train,y_test = train_test_split(feature_data, target_data)

In [11]:
X_train.shape

(483, 7)

In [12]:
X_test.shape

(162, 7)

In [13]:
lr = LinearRegression(normalize=True)

In [14]:
lr.fit(X_train,y_train)

C:\Users\91786\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

LinearRegression(normalize=True)

In [15]:
lr.coef_

array([   -4.95234051,    38.79928808,   956.52914368,    30.68081126,
       -2713.14069551, -3297.32091174,  2965.72841837])

In [16]:
X_test[:5]

     Unnamed: 0      Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
393         397  1366.272     10          12        3            2         2
499         503  1067.400      6           9        4            2         2
312         316  1515.708      2           7        2            2         2
554         558   889.500     11          18        2            2         1
295         299  1579.752     10          12        4            1         1

In [17]:
y_test[:5]

393    41000
499    50000
312    48800
554    30500
295    65000
Name: Price, dtype: int64

In [18]:
lr.predict(X_test[:5])

array([59039.73440008, 40287.46577578, 60146.38788437, 40632.01969125,
       65426.38758677])

In [19]:
pred = lr.predict(X_test)

In [20]:
mean_absolute_error(y_pred=pred, y_true=y_test)

13193.759272053883

In [21]:
ridge = Ridge(alpha=1000)
lasso = Lasso(alpha=1000)

In [22]:
ridge.fit(X_train,y_train)
lasso.fit(X_train,y_train)

Lasso(alpha=1000)

In [23]:
pred = ridge.predict(X_test)
pred = lasso.predict(X_test)

In [24]:
mean_absolute_error(y_pred=pred, y_true= y_test)

13370.30719894847

# Training the Data

In [35]:
from sklearn.model_selection import train_test_split

In [38]:
X = df[['Sqft', 'Floor', 'TotalFloor', 'Bedroom', 'Living.Room',
       'Bathroom']]
y = df["Price"]

In [39]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

# Using the Linear Regresson model

In [40]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model = lr.fit(X_train,y_train)

# Predicting the data

In [43]:
y_pred = lr.predict(X_train)
y_pred

array([ 31861.60014074,  28571.79309799,  33056.96593822,  86880.75995654,
        90808.10783029,  80726.70630979,  85224.810976  ,  80917.26280855,
        37977.52197263,  53902.93312262,  70461.86982314,  70206.94245906,
        44714.20090695,  35978.13757212,  42710.70062172,  59678.72335914,
        27234.34892479, 114362.27484351, 119852.94871879,  57271.14244076,
        58492.25363346,  56825.88205766,  82890.88281876,  63309.4886439 ,
        44713.62820268,  50742.84338674,  61345.09493495,  69966.67835815,
        76505.86479018,  33522.86130001,  31797.06693114,  76289.18689311,
        91332.72451819,  36904.38675004,  42867.00701838,  75610.93205649,
       118294.02040737,  56881.27083346, 119852.94871879,  37630.52360181,
        29113.27104539,  58931.2925484 ,  58098.83689857,  60356.8541879 ,
        27520.39162338,  77920.56777736,  77166.53417331,  44993.67464978,
        69765.00372381,  52302.61616804, 100921.99081164, 110452.001459  ,
        50552.15141257,  83055.77994001,  29177.53689793,  79844.13905352,
        60246.5174589 ,  30841.42494007,  32506.67204955,  63633.88980179,
        36753.44471229, 154793.5171402 ,  77782.61870106,  26539.27159414,
        32062.88976585, 145665.60849628,  57156.85217131,  86554.27732213,
        87946.76104661, 163567.45341962,  25801.28861726,  60618.63491273,
        40156.90203928,  43970.5996288 ,  51693.55072024,  30278.39203232,
        25571.83929134,  53452.65760515,  61568.89354983,  52084.14950229,
       114896.77010022,  50402.67938159,  46683.95897481,  81003.6850514 ,
        88334.55948023,  46280.60889134,  86796.71960949,  57420.09654723,
        80726.70630979,  34655.20971913, 145415.32683803,  43248.05632871,
        72840.1736334 ,  30658.0081542 ,  69441.38590034,  28673.69183595,
        37091.58837639,  35457.72395847,  35393.45810594,  77101.77645034,
        78494.58334528,  80810.66401404, 113135.2429831 ,  23047.92539246,
        55552.66691867,  70764.35706554,  59595.84624389,  55353.67835552,
        42479.2957743 ,  66162.32994539,  72840.1736334 ,  38050.54089403,
        44632.53985612,  29747.40417136,  52865.93542792, 133582.7136169 ,
        44955.77972937, 170147.27224809,  69765.00372381,  88629.67206244,
       128598.95686976,  71441.1094856 ,  77830.85629643,  58335.94723681,
        30641.02924253,  28424.36377806,  52283.6627398 ,  56881.27083346,
        61022.33759566,  42915.24461375,  81822.21608035,  61763.95729823,
        44623.91672175,  77830.85629643,  85853.54928044, 166326.43494568,
        18222.73155002,  35116.34388892,  65401.23183107,  66324.25464331,
       160047.5695669 , 104916.28620057,  47656.18293225,  48468.13353789,
        86404.77288138,  78924.71472087,  44224.31092847,  50000.35510735,
        52302.61616804,  55783.29652431,  42491.05367626,  30389.48466177,
        57271.14244076,  49035.67369528, 103324.27361844,  48837.65989355,
        27641.73973824,  55105.68699498,  46552.59032182,  22242.82814757,
        72607.14871726,  78249.7815321 ,  99942.14162659,  50093.35777352,
        46948.62052488,  40773.47208176,  71466.84146613,  78143.7230321 ,
        77830.85629643,  33712.71515999, 106050.65638852,  51394.40412077,
        77411.33598648,  50402.67938159,  98697.3411644 ,  74908.19371353,
        54183.03434949,  29488.64727469,  50596.35836561,  44541.93250046,
        34566.05000025,  84808.60422129,  40917.64898192, 114565.31447184,
        53065.79083096,  22798.58586702,  55096.75513848,  42710.70062172,
        39182.63537079, 106818.51509368,  36602.52504454,  39182.63537079,
        58260.44478174,  74339.25615238,  25571.83929134, 122274.43448764,
        51138.33329529,  77195.61017169,  41517.39653037, 129079.60017202,
        29585.47947343,  43058.52563918,  66651.30803484,  22878.87997672,
        36010.72486055,  69966.67835815,  18897.00043642,  88812.67256167,
        80726.70630979,  81303.55882562,  29022.3549676 ,  32309.48034771,
        61574.5118511 ,  35116.34388892,  41106.80807692,  29177.53689793,
        30932.92518968,  74192.11318459,  34619.99749498,  32062.88976585,
        45315.67946355,  28901.63874532, 123232.36222968,  80726.70630979,
        30262.48583587,  41754.82368336,  89319.41744396,  51294.92604408,
        45455.52790169,  35890.59281009,  89498.84235297,  38044.69400117,
        79036.89940687,  96943.97464147,  67092.13571846,  30153.50514556,
        72446.38530398,  59170.47606031,  56152.73763758,  19514.81895308,
        40444.3275551 ,  28571.79309799,  68503.31594805,  31041.2803431 ,
        32441.86590252,  65759.17902451,  58424.44265333,  53580.87249547,
        82521.12489073,  32106.94224841,  29747.40417136,  52591.73885446,
        52931.9028596 ,  34566.05000025,  53772.64505864,  84702.57813105,
        78632.53242158,  51274.52601269,  36867.09499652, 229937.068889  ,
        36810.20380417,  31806.78212205,  77920.56777736,  45968.2500404 ,
        50596.35836561,  69643.85477154,  28263.04860273,  58236.78597488,
        70364.46492012,  77286.12592926,  31354.84184376,  28858.86498074,
        35508.04108321,  60230.51966435,  40798.05722597,  50233.92031799,
        54677.09044571,  35116.34388892,  78935.28702104,  72840.1736334 ,
        29728.95525292, 114056.08268096,  29191.6543257 ,  56141.21468291,
        41090.81028237,  50917.12915351, 118590.99696088,  33376.9533917 ,
        60515.04095132,  66611.96547765,  20881.85704917,  61207.14585864,
        37738.87875522,  28726.97502832,  52860.03077452,  43814.20163406,
        70817.13237317,  50083.06352263,  40525.41149312,  78939.52691362,
       140766.7816631 , 135793.76078011,  65884.07226697,  46547.05726295,
        50596.35836561,  55676.75250957,  44697.34600315,  96420.84254686,
        78632.53242158, 116157.93995148,  46533.27087943,  48841.43659351,
        85167.06267439,  66318.3499899 ,  52849.08052412,  76093.38961426,
        52841.67345417,  36798.42690713,  56141.21468291,  66146.94504836,
        58098.83689857,  50402.67938159,  20283.86585963, 163567.45341962,
        66463.96007852,  60088.99499783,  79549.00864805,  65672.9802614 ,
        38867.40910931,  36024.30199382,  35707.05201636,  32967.81257503,
        68503.31594805,  33056.96593822,  43687.32681601,  53333.0658492 ,
       140266.14059681,  43329.09184266,  63885.26057073,  32643.11870931,
        27120.93021293,  50299.74336685, 128723.48860535,  32464.05275545,
        77242.09140815, 165342.36486311,  58579.04747084,  57204.26312005,
       113144.99318339,  84074.35303342,  95369.90759191,  79671.6052371 ,
        32790.78297653,  44485.96764545,  74078.13972991,  83055.77994001,
        65850.64686436,  63429.08039985,  54183.03434949,  54349.37910752,
        45515.30627499,  98237.2442714 ,  51366.28020467, 128598.95686976,
        49850.88307638,  32677.34981634,  42104.17348736,  28901.63874532,
       118453.04788458,  57689.46450954,  41553.21529634,  82383.17581443,
        61655.22419459,  29132.21253756, 149869.07381267,  66888.7899676 ,
       133104.03787096,  54143.52745299,  30032.92591679,  65166.80613624,
        56542.32289273,  42315.26549293, 128598.95686976,  91109.85561559,
        58655.9346903 ,  65161.18783498,  29701.11768894,  45273.37187235,
       126798.55293977,  18711.47806711,  22248.98674334,  46335.2704924 ,
        36602.52504454,  57368.80128614,  50215.30905528,  81441.50790193,
        80888.63100771,  62086.01792539,  61821.10243295,  64681.31839462,
        82922.55627101, 102265.91377029,  29747.40417136,  36431.6380275 ,
        56915.33959622,  63007.6045684 ,  32589.29522244,  44612.19460449,
        40514.55284081,  81378.52098619,  32616.40561166,  35006.59133174,
        65672.9802614 , 103812.35245824,  53573.26626292,  49910.07092215,
        66421.11925183,  54846.93009831,  32062.88976585,  45607.91757622,
        69516.65678304,  55200.0870649 ,  87232.4673392 ,  39618.09869551,
        27311.60773877,  50894.90989081,  64973.5006939 ,  59595.84624389,
        78244.70352534,  32909.28267593,  70150.21915188,  37376.59517809,
        39794.83558619,  51447.11655602,  50424.6994817 ,  50693.67607909,
        69700.76833389,  77830.85629643,  43214.5456837 ,  58441.09839454,
        41955.21938089,  29592.22224103,  74079.95896121,  57903.68790778,
        31905.42208456,  35690.19711256,  47870.17475812,  23640.83857523,
        42098.17723587,  50596.35836561,  88334.55948023,  75366.13024332,
        92123.68196531,  58817.31909372,  59492.12827462,  39098.88773158,
        42777.93448904,  91604.25284372, 196615.72317753,  44947.76611759,
        78244.70352534,  63723.33587281,  94194.47530618,  62768.67499886,
        69643.85477154,  54040.88219893,  91898.50831667,  32643.11870931,
        70298.44270867,  67567.55268895,  36561.3165689 ,  59068.02556029,
        73572.79225138,  42915.24461375,  64973.5006939 ,  42208.03480584,
        79670.20783335,  70645.981374  ,  51926.02387433,  80170.31751254,
        96029.80510818,  61103.55189724,  38307.62156233])

# Creating the Dataset for better understanding the actual and predicted data

In [44]:
predicted_dataframe = pd.DataFrame({"Actual_data" : y_train , "predicted_data" : y_pred})
predicted_dataframe

     Actual_data  predicted_data
118        22000    31861.600141
235        36000    28571.793098
449        36000    33056.965938
175        82000    86880.759957
356        55000    90808.107830
..           ...             ...
9          65000    51926.023874
359        98000    80170.317513
192        75000    96029.805108
629        45000    61103.551897
559        35000    38307.621562

[483 rows x 2 columns]